<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Overview</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <p>As announced at the PUARL Conference in San Francisco in October 2016 (PDF download), The University Suor Orsola Benincasa in Naples (UniSOB), offers a Master in Architecture program entitled Building Beauty: Ecologic Design and Construction Process</p>
              <p>The program proposes an integrated approach to: 1) Direct design and construction; 2) Local, low-tech building techniques; 3) community empowerment. The proposed model process builds on Christopher Alexander’s legacy, looking at international cooperation, right-to-build, emergency and place ecology in an profoundly sustainable perspective.</p>
        <h2>Entitlement To Apply</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <p>The Master is open to individuals holding a bachelor degree or equivalent/superior, who wish to become leaders in ecologic place-making, with a focus on well-being through direct construction, engagement and traditional building craftsmanship. The course is a residential, intensive program entirely taught in English language, and designed to offer a holistic experience of designing and making, learning about the reality of feelings and an evidence-based approach to the architectural process.</p>
            </div>
          </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
