<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>About Me</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <iframe id="framer_iframe"
                        height="500px" 
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        src="http://share.framerjs.com/17pvsmgvnyn4/">
                </iframe>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <p>I am in my final semester in Austin Community College's User Experience/User Interface Design program. I'm a versatile designer with skills in UI, UX, and visual design.</p>
              <p>My other interests include just enough understanding of HTML/CSS and prototyping tools to be a little bit dangerous. I always look for tools that can better the relationship between design and development.</p>
      
              <p>Since being exposed to the principles of user-centered design, my world has become a design problem unto itself. I find myself constantly picking at and pulling stuff apart.  In my free time I enjoy reading about emotional intelligence and people watching.</p> 
              <p>I'm obsessed with the Beat Generation — from Ralph Steadman's illustrations for Fear and Loathing in Las Vegas to Allan Ginsberg's Howl. I take respect, humility, and listening to others very seriously. These skills are key elements to help me better solve problems. </p>
            </div>
          </div>
          
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
